################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Books.Api/FileContentIndex/1a8fe073-d7f3-42fa-91c1-a1ea761aa9aa.vsidx
/.vs/Books.Api/FileContentIndex/1a8fe073-d7f3-42fa-91c1-a1ea761aa9aa.vsidx
/.vs/Books.Api/FileContentIndex/d88b4f5b-6438-49eb-86d6-b3fc2297bdb8.vsidx
/.vs/Books.Api/FileContentIndex/03707875-e58f-49e1-a328-a74946c06890.vsidx
/.vs/Books.Api/FileContentIndex/1fce0bd5-cc16-4217-91ca-5f5439e45796.vsidx
/.vs/Books.Api/FileContentIndex/38376764-49ad-4da5-b7d3-4e4a4c9cf9f7.vsidx
/.vs/Books.Api/FileContentIndex/d10faaab-36e7-46c1-9422-59ac2b26e5fb.vsidx
/.vs/Books.Api/FileContentIndex
